<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello React!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>  </head>
  <body>
    <div id="twapp"></div>
    <script type="text/babel">
var Tweets = React.createClass({
  render: function() {
    var createItem = function(item) {
      return <li key={item.key_id}>{item.text}</li>;
    };

    console.log("aa", typeof(this.props.items));

    return <ul>{this.props.items.map(createItem)}</ul>;
  }
});

var TweetsApp = React.createClass({
  getInitialState: function() {
    return {items: [], text: ''};
  },

  componentDidMount: function() {
    this.serverRequest = $.get(this.props.url, function (result) {
      var items = result;
      console.log(items);

      this.setState({
        items: items
      });
    }.bind(this));
  },

  componentWillUnmount: function() {
    this.serverRequest.abort();
  },

  onChange: function(e) {
    this.setState({text: e.target.value});
  },

  handleSubmit: function(e) {
//    e.preventDefault();
//    var nextItems = this.state.items.concat([{text: this.state.text, id: Date.now()}]);
//    var nextText = '';
//    this.setState({items: nextItems, text: nextText});
  },
  render: function() {
    return (
      <div>
        <h3>Last Tweets</h3>
        <Tweets items={this.state.items} />
        <form onSubmit={this.handleSubmit}>
          <input onChange={this.onChange} value={this.state.text} />
          <button>{'Add #' + (this.state.items.length + 1)}</button>
        </form>
      </div>
    );
  }
});

ReactDOM.render(<TweetsApp url="http://localhost:8080/tw/" />, document.getElementById('twapp'));    

  </script>
  </body>
</html>