<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/page.css">
    <meta charset="UTF-8" />
    <title>MyTwittar</title>

  </head>
  <body>
    <section>
      {% if user %}
      <p>{{ user.email() }}&nbsp;(&nbsp;<a href="{{ logout_url }}">log out</a>&nbsp;)</p>
      {% else %}
      <p>Annoymous &nbsp;(&nbsp;<a href="{{ login_url }}">log in</a>&nbsp;)</p>
      {% endif %}
    </section>
    <div id="twapp"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>    
    <script type="text/babel">
var Tweets = React.createClass({
  render: function() {
    var showItem = function(item) {
      return <li key={item.key_id}>
        <div className="msgcell">
          <p>{item.text}</p>
          <div className="timestamp">
            <span className="author">{item.user_email || "anonymous"}</span>
            <time>{item.timestamp}</time>
          </div>
        </div>
      </li>;
    };

    return <ul className="msglst">{this.props.items.map(showItem)}</ul>;
  }
});

var TweetsApp = React.createClass({
  getInitialState: function() {
    return {items: [], text: ''};
  },

  componentDidMount: function() {
    this.serverRequest = $.get(this.props.url, function (result) {
      var items = result;
      console.log(items);

      this.setState({
        items: items
      });
    }.bind(this));
  },

  componentWillUnmount: function() {
    this.serverRequest.abort();
  },

  onChange: function(e) {
    var txt = e.target.value;
    if (txt === '') {

    }
    this.setState({text: e.target.value});
  },

  handleSubmit: function(e) {
      var that = this;
      e.preventDefault();
      $.post(that.props.url,
        {'text': that.state.text},
        function(result) {
          that.setState({
            items: result
          });
      });
      this.state.text = "";
  },
  render: function() {
    console.log("render");
    return (
      <div>
        <div className="new_input">
        <form onSubmit={this.handleSubmit}>
            <div className="input_wrapper">
              <textarea onChange={this.onChange} value={this.state.text} />
            </div>
            <button>{'Tweet'}</button>
        </form>
        </div>
        <h3>Latest Tweets</h3>
        <Tweets items={this.state.items} />
      </div>
    );
  }
});

ReactDOM.render(<TweetsApp url="/tw/" />, document.getElementById('twapp'));    
  </script>
  </body>
</html>